*{
    font-family: 'Poppins', sans-serif;
}

.img-perfil{
    width: 200px;
}

#img-stack{
    height: 200px;
}

.bg-primary{
    background-color: #73ABFE!important;
}

.nav-link{
    color: #004AB7!important;
}

.text-bg-primary{
    background-color: #73ABFE!important;
}

.titulo-proyecto{
    text-shadow: 3px 5px 10px black;
}

#proyecto-1{
    background-image: url('images/clon-de-google.png');
    background-position: center;
    background-size: cover;
}

#proyecto-2{
    background-image: url('images/vincent.png');
    background-position: center;
    background-size: cover;
}

#proyecto-3{
    background-image: url('images/overlay_saladeespera.png');
    background-position: center;
    background-size: cover;
}

#proyecto-4{
    background-image: url('images/TDL_PortadaO.png');
    background-position: center;
    background-size: cover;
}

#proyecto-5{
    background-image: url('images/sobeautifulhan.png');
    background-position: center;
    background-size: cover;
}

#proyecto-6{
    background-image: url('images/MS_MINJOON.gif');
    background-position: center;
    background-size: cover;
}

.icono{
    width: 50px;
    font-size: 2rem;
    color: black;
}